<footer class="text-white pt-5 pb-2">
    <div class="container">
        <div class="row">
            
            <!-- Links To Different Parts & Pages -->
            <div class="col-md">
                <div class="footer-head">
                    <h3>Hot Links</h3>
                </div>
                <div class="pt-4" id="footer-links">
                    <p><a href="/"><strong><i class="fas fa-home"></i> Home</strong></a></p>
                    <p><a href="/"><strong><i class="far fa-gem"></i> Brands</strong></a></p>
                    <p><a href="/"><strong><span class="iconify" data-icon="foundation:burst-sale" style="color: #f24e1e;" data-height="24"></span> Black Fridays</strong></a></p>
                    <p><a href="/"><strong><i class="far fa-question-circle"></i> FAQ</strong></a></p>
                    <!-- <p><a href="https://streetgm.gumroad.com/" target="_blank"><i class="fas fa-shopping-cart"></i> <strong>Shop</strong></a></p>                                              -->
                </div>
            </div>

            
        </div>
        <div class="text-center pt-5" id="footer-links">
            <p>Copyright &copy;<script>document.write(new Date().getFullYear())</script><a href="index.html"><strong><span class="text-danger">Price </span><span class="text-dark">  Tracker.</span></strong></a> All Rights Reserved</p>
        </div>
    </div>
</footer>