<footer class="text-white pt-5 pb-2">
    <div class="container">
        <div class="row">
            
            <!-- Links To Different Parts & Pages -->
            <div class="col-md">
                <div class="footer-head">
                    <h3>Hot Links</h3>
                </div>
                <div class="pt-4" id="footer-links">
                    <p><a href="/"><strong><i class="fas fa-home"></i> Home</strong></a></p>
                    <p><a href="/"><strong><i class="far fa-gem"></i> Brands</strong></a></p>
                    <p><a href="/"><strong><span class="iconify" data-icon="foundation:burst-sale" style="color: #f24e1e;" data-height="24"></span> Black Fridays</strong></a></p>
                    <p><a href="/"><strong><i class="far fa-question-circle"></i> FAQ</strong></a></p>
                    <!-- <p><a href="https://streetgm.gumroad.com/" target="_blank"><i class="fas fa-shopping-cart"></i> <strong>Shop</strong></a></p>                                              -->
                </div>
            </div>

            <!-- Contact Us Linked -->
            <div class="col-md">
                <div class="footer-head">
                    <h3>Contact Us</h3>
                </div>
                <div class="pt-4" id="footer-links">
                    <p class=""><a href="tel:254708581688"><strong><i class="fas fa-phone-alt"></i> Phone: </strong>+254708581688</a></p>
                    <p><a href="mailto:info@pricetracker.com"><strong><i class="fas fa-envelope"></i> Email: </strong> info@pricetracker.com</a></p>  
                    <p><a href="/"><strong><i class="fas fa-map-marker-alt"></i> Location: </strong>254-Nairobi CBD</a></p>                             
                </div>
                <!-- <div class="mapouter"><div class="gmap_canvas"><iframe width="300" height="100" id="gmap_canvas" src="https://maps.google.com/maps?q=nairobi%20cbd&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://123movies-to.org"></a><br><style>.mapouter{position:relative;text-align:right;height:150px;width:300px;}</style><a href="https://www.embedgooglemap.net"></a><style>.gmap_canvas {overflow:hidden;background:none!important;height:150px;width:300px;}</style></div></div> -->
            </div>

            <!-- Social Media Linked -->

            <div class="col-md" id="footer-links">
                <div class="footer-head">
                    <h3>Social Media</h3>
                </div>
                <div class="pt-4" id="footer-links">
                    <p><a href="https://www.facebook.com/streetgrandmaster" target="_blank"><span><i class="fab fa-facebook-square"></i></span> <strong> Facebook</strong></a></p>
                    <p><a href="https://www.instagram.com/streetgrandmaster" target="_blank"><span><i class="fab fa-instagram"></i></span> <strong> Instagram</strong></a></p>
                    <p><a href="https://www.pinterest.com/LawiGrandmaster" target="_blank"><strong><i class="fab fa-pinterest"></i> Pinterst</strong></a></p>
                    <p><a href="https://api.whatsapp.com/send/?phone=254708581688" target="_blank"> <strong><span class="bg-success"><i class="fab fa-whatsapp"></i></span> WhatsApp</strong></a></p>
                </div>
            </div>
        </div>
        <div class="text-center pt-5" id="footer-links">
            <p>Copyright &copy;<script>document.write(new Date().getFullYear())</script><a href="index.html"><strong><span class="text-danger">Price </span><span class="text-dark">  Tracker.</span></strong></a> All Rights Reserved</p>
        </div>
    </div>
</footer>